html {
  font-size: 24px;
}

body,
input,
button {
  font-family: monospace;
}

.app {
  max-width: 30rem;
  margin: 1rem auto;
  padding: 1rem;
}

p {
  text-align: left;
}

.form {
  text-align: center;
}

.form input,
.form button {
  font-size: 1rem;
}
